@model NorthStorm.Models.JobTransfer

@{
    ViewData["Title"] = "حذف قيد";
}

<h3>@ViewData["Title"]</h3>
<hr />

<p>
    <div class="text-danger h4">
        <h4 class="text-danger">هل أنت متأكد من أنك تريد حذف القيد؟</h4>
    </div>
</p>
<div class="card bg-light mb-3">
    <div class="card-header text-center">بيانات الأمر الإداري</div>
    <div class="card-body">
        <div class="row col-md-12">
            <div class="row col-md-12">
                <div class="form-group col-2 ">
                    <div class="control-label">
                        @Html.DisplayNameFor(model => model.ReferenceNo)
                    </div>
                    <div class="form-control">
                        @Html.DisplayFor(model => model.ReferenceNo)
                    </div>
                </div>

                <div class="form-group col-2">
                    <div class="control-label">
                        @Html.DisplayNameFor(model => model.ReferenceDate)
                    </div>
                    <div class="form-control">
                        @Html.DisplayFor(model => model.ReferenceDate)
                    </div>
                </div>
                <div class="form-group col-2">
                    <div class="control-label">
                        @Html.DisplayNameFor(model => model.Subject)
                    </div>
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Subject)
                    </div>
                </div>
                <div class="form-group col-2">
                    <div class="control-label">
                        @Html.DisplayNameFor(model => model.TransferFrom)
                    </div>
                    <div class="form-control">
                        @Html.DisplayFor(model => model.TransferFrom)
                    </div>
                </div>
                <div class="form-group col-2">
                    <div class="control-label">
                        @Html.DisplayNameFor(model => model.TransferTo)
                    </div>
                    <div class="form-control">
                        @Html.DisplayFor(model => model.TransferTo)
                    </div>
                </div>
                <div class="form-group col-2">
                </div>
            </div>
            <div>
                <br />
            </div>
            <div class="row col-md-12">
                <div class="form-group col-md-2">
                </div>
                <div class="form-group col-md-8">
                    <table id="emplyeesTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">رقم الموظف</th>
                                <th scope="col">الإسم الكامل</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="selectedEmployees">
                            @foreach (var item in Model.Employees)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="form-group col-md-2">
                    <br />
                </div>
            </div>
            <div class="row col-md-12">
                <div class="form-group col-md-2">
                </div>
                <div class="form-group col-md-8">
                </div>
                <form asp-action="DeleteMasterDetails" class="form-group col-md-2 align-self-end text-md-center">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="حذف" class="btn btn-danger btn-block w-75" />
                </form>
            </div>

        </div>

    </div>
    <div class="card-footer">
        <br />

    </div>
</div>
<div>
    <a asp-action="Index" asp-route-pg="@TempData.Peek("CurrentPage")">إلغاء</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}