@model NorthStorm.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FourthName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FourthName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherMiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherMiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CivilNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CivilNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IBAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IBAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gender.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.religion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.religion.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.race)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.race.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nationality.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
